<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.bayu.developer.aplikasiislami">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="co.bayu.developer.aplikasiislami.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="co.bayu.developer.aplikasiislami.ProdukHalalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.bayu.developer.aplikasiislami.MenuActivity" />
        </activity>
        <activity android:name="co.bayu.developer.aplikasiislami.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.bayu.developer.aplikasiislami.MenuActivity" />
        </activity>
        <activity android:name="co.bayu.developer.aplikasiislami.AyatPilihanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.bayu.developer.aplikasiislami.MenuActivity" />
        </activity>
        <activity android:name="co.bayu.developer.aplikasiislami.DetailAyatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.bayu.developer.aplikasiislami.AyatPilihanActivity" />
        </activity>
        <activity android:name="co.bayu.developer.aplikasiislami.JadwalSholatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.bayu.developer.aplikasiislami.MenuActivity" />
        </activity>
    </application>

</manifest>